@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<span class="login100-form-title p-b-26">
    Forgot your password !
</span>
<p>
    Please check your email to reset your password.
</p>
<div class="text-center p-t-20">
    <a class="txt2 text-center" asp-page="./Login">
        Login
    </a>
</div>
