<?xml version="1.0" encoding="utf-8" ?>
<securityRules>
  <securityRule modelType="IdentityRole" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />
  <securityRule modelType="ApplicationUser" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />  
</securityRules>