@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="row">
    <div class="col-md12 text-center">
        <span class="login100-form-title p-b-26">
            @ViewData["Title"]
        </span>
    </div>
</div>
